In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# Arizona Cardinals
ari08 = pd.read_csv('./NFL/Arizona Cardinals/2008season.csv')
ari09 = pd.read_csv('./NFL/Arizona Cardinals/2009season.csv')
ari10 = pd.read_csv('./NFL/Arizona Cardinals/2010season.csv')
ari11 = pd.read_csv('./NFL/Arizona Cardinals/2011season.csv')
ari12 = pd.read_csv('./NFL/Arizona Cardinals/2012season.csv')
ari13 = pd.read_csv('./NFL/Arizona Cardinals/2013season.csv')
ari14 = pd.read_csv('./NFL/Arizona Cardinals/2014season.csv')
ari15 = pd.read_csv('./NFL/Arizona Cardinals/2015season.csv')
ari16 = pd.read_csv('./NFL/Arizona Cardinals/2016season.csv')
ari17 = pd.read_csv('./NFL/Arizona Cardinals/2017season.csv')
ari18 = pd.read_csv('./NFL/Arizona Cardinals/2018season.csv')

# Atlanta Falcons
atl08 = pd.read_csv('./NFL/Atlanta Falcons/2008season.csv')
atl09 = pd.read_csv('./NFL/Atlanta Falcons/2009season.csv')
atl10 = pd.read_csv('./NFL/Atlanta Falcons/2010season.csv')
atl11 = pd.read_csv('./NFL/Atlanta Falcons/2011season.csv')
atl12 = pd.read_csv('./NFL/Atlanta Falcons/2012season.csv')
atl13 = pd.read_csv('./NFL/Atlanta Falcons/2013season.csv')
atl14 = pd.read_csv('./NFL/Atlanta Falcons/2014season.csv')
atl15 = pd.read_csv('./NFL/Atlanta Falcons/2015season.csv')
atl16 = pd.read_csv('./NFL/Atlanta Falcons/2016season.csv')
atl17 = pd.read_csv('./NFL/Atlanta Falcons/2017season.csv')
atl18 = pd.read_csv('./NFL/Atlanta Falcons/2018season.csv')

# Baltimore Ravens
bal08 = pd.read_csv('./NFL/Baltimore Ravens/2008season.csv')
bal09 = pd.read_csv('./NFL/Baltimore Ravens/2009season.csv')
bal10 = pd.read_csv('./NFL/Baltimore Ravens/2010season.csv')
bal11 = pd.read_csv('./NFL/Baltimore Ravens/2011season.csv')
bal12 = pd.read_csv('./NFL/Baltimore Ravens/2012season.csv')
bal13 = pd.read_csv('./NFL/Baltimore Ravens/2013season.csv')
bal14 = pd.read_csv('./NFL/Baltimore Ravens/2014season.csv')
bal15 = pd.read_csv('./NFL/Baltimore Ravens/2015season.csv')
bal16 = pd.read_csv('./NFL/Baltimore Ravens/2016season.csv')
bal17 = pd.read_csv('./NFL/Baltimore Ravens/2017season.csv')
bal18 = pd.read_csv('./NFL/Baltimore Ravens/2018season.csv')

# Buffalo Bills
buf08 = pd.read_csv('./NFL/Buffalo Bills/2008season.csv')
buf09 = pd.read_csv('./NFL/Buffalo Bills/2009season.csv')
buf10 = pd.read_csv('./NFL/Buffalo Bills/2010season.csv')
buf11 = pd.read_csv('./NFL/Buffalo Bills/2011season.csv')
buf12 = pd.read_csv('./NFL/Buffalo Bills/2012season.csv')
buf13 = pd.read_csv('./NFL/Buffalo Bills/2013season.csv')
buf14 = pd.read_csv('./NFL/Buffalo Bills/2014season.csv')
buf15 = pd.read_csv('./NFL/Buffalo Bills/2015season.csv')
buf16 = pd.read_csv('./NFL/Buffalo Bills/2016season.csv')
buf17 = pd.read_csv('./NFL/Buffalo Bills/2017season.csv')
buf18 = pd.read_csv('./NFL/Buffalo Bills/2018season.csv')

#

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Offense.3,Offense.4,Defense,Defense.1,Defense.2,Defense.3,Defense.4,Expected Points,Expected Points.1,Expected Points.2
0,Week,Day,Date,NaN,NaN,NaN,OT,Rec,NaN,Opp,...,RushY,TO,1stD,TotYd,PassY,RushY,TO,Offense,Defense,Sp. Tms
1,1,Sun,September 7,4:16PM ET,boxscore,W,NaN,1-0,@,San Francisco 49ers,...,109,NaN,13,291,183,108,5,-2.16,8.61,1.37
2,2,Sun,September 14,4:15PM ET,boxscore,W,NaN,2-0,NaN,Miami Dolphins,...,81,NaN,17,236,164,72,NaN,24.83,-1.17,1.89
3,3,Sun,September 21,1:02PM ET,boxscore,L,NaN,2-1,@,Washington Redskins,...,116,2,21,323,187,136,NaN,2.07,-9.11,-2.95
4,4,Sun,September 28,1:02PM ET,boxscore,L,NaN,2-2,@,New York Jets,...,42,7,23,373,284,89,1,-2.13,-19.06,-0.09

In [3]:
# Make cleaning function
# clean data and merge into dataframes for each team
# drop unnecessary columns
def clean_nfl_data(df):
    df = df.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 9', 'Expected Points',
                  'Expected Points.1', 'Expected Points.2'], axis = 1)
    df = df.drop([0]).reset_index(drop = True)
    
    # fill NaN with 0
    df = df.fillna(0)
    
    # identify playoffs index and drop everything after it
    i = df.index[df['Unnamed: 2'] == 'Playoffs']
    j = len(df)-i[0]
    
    df = df[:-j]
    
    # rename columns
    df = df.rename(columns = {'Unnamed: 0': 'Week', 'Unnamed: 1': 'Day', 'Unnamed: 2': 'Date', 'Unnamed: 7': 'Record',
                          'Score': 'TmScore', 'Score.1': 'OppScore', 'Offense': 'off1stDn', 'Offense.1': 'offTotYd',
                          'Offense.2': 'offPassYd', 'Offense.3': 'offRushYd', 'Offense.4': 'offTO', 'Defense': 'def1stDn',
                          'Defense.1': 'defTotYdsAllowed', 'Defense.2': 'defPassYdsAllowed', 'Defense.3': 'defRushYdsAllowed',
                          'Defense.4': 'defTOGained'})
    return df

In [4]:
az = clean_nfl_data(ari)

In [5]:
display(az)

,Week,Day,Date,Record,TmScore,OppScore,off1stDn,offTotYd,offPassYd,offRushYd,offTO,def1stDn,defTotYdsAllowed,defPassYdsAllowed,defRushYdsAllowed,defTOGained
0,1,Sun,September 7,1-0,23,13,18,285,176,109,0,13,291,183,108,5
1,2,Sun,September 14,2-0,31,10,22,445,364,81,0,17,236,164,72,0
2,3,Sun,September 21,2-1,17,24,19,313,197,116,2,21,323,187,136,0
3,4,Sun,September 28,2-2,35,56,33,468,426,42,7,23,373,284,89,1
4,5,Sun,October 5,3-2,41,17,28,373,250,123,0,13,287,203,84,4
5,6,Sun,October 12,4-2,30,24,14,276,226,50,3,15,374,301,73,1
6,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,8,Sun,October 26,4-3,23,27,25,425,375,50,2,22,351,238,113,1
8,9,Sun,November 2,5-3,34,13,24,510,334,176,0,13,231,170,61,3
9,10,Mon,November 10,6-3,29,24,21,374,328,46,0,19,336,217,119,3
10,11,Sun,November 16,7-3,26,20,24,458,382,76,3,18,196,153,43,4
11,12,Sun,November 23,7-4,29,37,27,371,348,23,2,18,321,234,87,0
12,13,Thu,November 27,7-5,20,48,12,260,235,25,4,32,437,252,185,1
13,14,Sun,December 7,8-5,34,10,18,335,272,63,1,17,308,223,85,3
14,15,Sun,December 14,8-6,14,35,16,316,273,43,2,20,396,157,239,1
15,16,Sun,December 21,8-7,7,47,8,186,142,44,2,27,514,331,183,0
16,17,Sun,December 28,9-7,34,21,19,457,346,111,2,24,330,243,87,3